*{
	box-sizing: border-box; 
}
body{

	margin: 0px;
}
#body-header{
	background-image: url(images/header-background.jpg);
	height: 100vh;
	background-position: center;
	color: white;
}
nav ul, #social-icons{
	list-style: none;
	display: flex;
	justify-content: center;

}
nav ul li, #social-icons li{
	margin: 10px;
}

#intro-text{
	margin-top: 20vh;
	text-align: center;
}

h1 {
    font-size: 50px;
    color: white;
}
.section-one{
	background-color:#2c3e50; 
	height: 100vh;
	display: flex;
	flex-wrap: nowrap;
}
.profile{
	display: flex;
	justify-content: center;
	margin: 110px;
	margin-bottom: 492px;
	/*flex-basis: 200px;*/
	/*height: 100vh;*/
	width: 40%;
}
.profile img{
	    border-radius: 50%;
	    height: 50px;
	    width: 50px;
}

.sidebar1{
	margin-top: 50px; 
}
.sidebar1 h3{
	color: white;
}
.aboutme{
	    margin-right: 160px;
}
.aboutme p{
	margin-right: 90px;

}
.contact{
	margin-top: 85px;
    margin-right: 462px;
}

.section-three{
	background-color: #ecf0f1;
	height: 100vh;
}

.skills{
	display: flex;
	border-top: 2px solid;

}
.side-skills{
	display: flex;
	justify-content: center;
	margin: 110px;
	margin-bottom: 492px;
	/*flex-basis: 200px;*/
	/*height: 100vh;*/
	width: 40vh;

}
.side-skills > h3{
	border-bottom-width: 3px;
	border-bottom-color: #3498db;
	border-bottom-style: solid;

}
.skills-info{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-evenly;
}
.progress-bar{
	height: 30px;  /* Can be anything */
	position: relative;
	background: #bdc3c7;
	width: 75%;
}
#photoshop{
	height: 100%;
	position: relative;
  	overflow: hidden;
  	width: 35%;
  	background: #555;

}
#css{
	height: 100%;
	position: relative;
  	overflow: hidden;
  	width: 55%;
  	background: #555;

}
#wordpress{
	height: 100%;
	position: relative;
  	overflow: hidden;
  	width: 75%;
  	background: #555;

}
#html5{
	height: 100%;
	position: relative;
  	overflow: hidden;
  	width: 40%;
  	background: #555;	
}
#jquery{
	height: 100%;
	position: relative;
  	overflow: hidden;
  	width: 20%;
  	background: #555;

}

